/* Color Template  */
.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}

.color-green{
    color: $color-green;
}

.color-green-bg{
    background: $color-green;
}

.color-purple{
    color: $color-purple;
}

.color-purple-bg{
    background: $color-purple;
}

.color-red{
    color:$color-red;
}

.color-red-bg{
    background: $color-red;
}