$font-raleway: 'Raleway', cursive;
$font-roboto: 'Roboto', cursive;
$font-rubik: 'Rubik', cursive;
$color-primary: #003859;
$color-second: #00A5C4;
$color-yellow: #FFD289; 
$color-purple: #A314FC;
$color-red: #FF0000;
$color-green: rgba(0,128,0,0.4);